# services/service_auth/requirements.txt
django>=4.2,<5.0 # Ou a versão que preferir
psycopg2-binary>=2.9,<3.0
djangorestframework>=3.14,<4.0 # Se for usar DRF
# ... outras dependências específicas para este serviço
